@{
    if (Request.QueryString["smash"] != null) {
        UserHelper.IsSmashing = true;
    }
    else if (Request.QueryString["desmash"] != null) {
        UserHelper.IsSmashing = false;
    }
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="nosnippet" />
        <meta name="description" content="Edinburgh University Musical Medics Online Music Library."/>

        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/controls.css" rel="stylesheet" type="text/css" />
        @if (UserHelper.IsSmashing) {
            <title>Nigel</title>
            <link href="~/favicon2.ico" rel="shortcut icon" type="image/x-icon" />
            <style type="text/css">
                .site-title:hover:after {
                    content: "THE TEMPLE OF NIGEL";
                }
                .site-title:hover a {
                    display: none;
                }
            </style>
        }
        else {
            <title>EUMM Music Library</title>
            <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        }
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/">EUMM Library</a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        }
                    </section>
                    <nav>
                        <ul id="menu">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/MyMusic">My Music</a></li>
                            <li><a href="~/Suggest">Suggestions</a></li>
                            <li><a href="~/List">Concert</a></li>
                            <li><a href="~/Contact">Contact Us</a></li>

                            @if (UserHelper.IsSmashing) {
                            <li><a href="http://www.youtube.com/watch?v=j4eBvejTvMg">
                                <img src="~/Images/smashing.png" style="margin:0px -15px -26px 0px" /></a>
                            </li>
                            }
                        </ul>
                    </nav>
                    @if (WebSecurity.IsAuthenticated && UserHelper.IsAdmin())
                    {
                        string count = UserHelper.CountRequests().ToString();
                        
                        <div style="float:right; background-color: #DDD">
                        <ul id="menu">
                            <li>Admin&nbsp;&nbsp;</li>
                            <li><a href="~/Admin/Loans">Loans (@count)</a></li>
                            <li><a href="~/Admin/Members">Members</a></li>
                            <li><a href="~/Admin/Library">Library</a></li>
                            @if (UserHelper.IsSmashing) {
                                <li><a href="~/Admin/Nigel">Nigel</a></li>
                            }
                        </ul>
                        </div>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            @RenderSection("infobanner", required: false)
            <section class="content-wrapper main-content clear-fix" style="background-image: none !important">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - James S Renwick</p>
                    <p><a></a></p>
                </div>
                <div class="float-right">
                    <p><a href="~/Legal">The Legal Bit</a></p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>