<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="nosnippet" />
        <meta name="description" content="Edinburgh University Musical Medics."/>
        <link rel="image_src" href="http://eumm.azurewebsites.net/Images/webbanner.png" />

        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/controls.css" rel="stylesheet" type="text/css" />

        <title>Musical Medics</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>

        @RenderSection("head", required: false)

        <meta name="viewport" content="width=device-width" />
    </head>
    <body data-site="main">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/">Edinburgh University Musical Medics</a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                    </section>
                    <nav>
                        <ul id="menu">
                            <li><a href="~/index">Home</a></li>
                            <li><a href="~/Concerts">Concerts</a></li>
                            <li><a href="~/Library">Online Library</a></li>
                            <li><a href="~/Gallery">Gallery</a></li>
                            <li><a href="~/AboutUs">About Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            @RenderSection("infobanner", required: false)
            <section class="content-wrapper main-content clear-fix" style="background-image: none !important">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Contact Us:</p>
                    <p>E-mail <b>edinburghmusicalmedics@gmail.com</b></p>
                    <p>Join us on <a href="https://www.facebook.com/groups/307200819293452/">Facebook</a></p>
                </div>
                <div class="float-right">
                    <p><a href="~/Constitution">Our Constitution</a></p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>
