@{
    Page.Title = "Title goes here";
    Layout     = "~/_SiteLayout.cshtml";
    
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Account/Login");
        return;
    }

    string studentid = WebSecurity.CurrentUserName;

    var currentLoanData  = UserHelper.GetCurrentLoans(studentid);
    var previousLoanData = UserHelper.GetPreviousLoans(studentid);
}

<div>
    <hgroup class="title">
        <h1>My Music.</h1>
        <h2>Your recent music loans.</h2>
    </hgroup>

    <br/>

    <section>
        <h2 style="margin-bottom:-15px">Current Loans</h2>
        <p>Sheet music loans whose return is still outstanding.</p>
        <table>
            <tr>
                <td><b>Piece</b></td>
                <td><b>Instrument</b></td>
                <td><b>Format</b></td>
                <td><b>Return By</b></td>
                <td><b>Status</b></td>
                <td><b>Fees</b></td>
                <td></td>
            </tr>
            @foreach (var row in currentLoanData)
            {
            <tr>
                <td>@row.Part.Piece.Title</td>
                <td>@row.Part.Instrument</td>
                <td>@Website.GetLoanFormatName(row.Format)</td>
                <td>@row.LoanEnd.ToShortDateString()</td>
                <td>@Website.GetStatusText(row)</td>
                <td>@Website.GetPounds(row.Fees)</td>
                <td>
                    <!--If a paper or digital copy, allow "returning" online-->
                    @if (row.Format == 1 || row.Format == 2) { 
                    <a href="~/Return?id=@row.ID" title="Click to return this copy">Return</a>
                    }
                </td>
            </tr>
            }
        </table>

    </section>
    <br />
    <input type="button" value="Request New Loan"
           onclick="document.location.href='/Loan'" />
    <br/>
    <section>
        <h2 style="margin-bottom:-15px">Previous Loans</h2>
        <p>Sheet music which you have returned.</p>
        <table>
            <tr>
                <td><b>Piece</b></td>
                <td><b>Instrument</b></td>
                <td><b>Format</b></td>
                <td><b>Returned On</b></td>
                <td><b>Fees</b></td>
            </tr>
            @foreach (var row in previousLoanData)
            {
                string retDate = "<unknown>";
                
                if (row.ReturnedOn != null) {
                    retDate = row.ReturnedOn.ToShortDateString();
                }
                
            <tr>
                <td>@row.Part.Piece.Title</td>
                <td>@row.Part.Instrument</td>
                <td>@Website.GetLoanFormatName(row.Format)</td>
                <td>@retDate</td>
                <td>@Website.GetPounds(row.Fees)</td>
            </tr>
            }
        </table>
    </section>

</div>