<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="nosnippet" />
        <meta name="description" content="Edinburgh University Musical Medics Online Music Library."/>
        <link rel="image_src" href="http://eumm.azurewebsites.net/Images/library.jpg" />

        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/controls.css" rel="stylesheet" type="text/css" />

        <title>EUMM Music Library</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />

        <style>
            ol.round li.note, ul.round li.note {
                background: URL("../Images/AmberBullet.png") no-repeat !important;
            }
        </style>
    </head>
    <body data-site="library">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="~/Library/">EUMM Library</a></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        }
                    </section>
                    <nav>
                        <ul id="menu">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/Library/">Online Library</a></li>
                            <li><a href="~/Library/MyMusic">My Music</a></li>
                            <li><a href="~/Library/Recordings">Recordings</a></li>
                            <li><a href="~/Library/Suggest">Suggestions</a></li>
                        </ul>
                    </nav>
                    @if (WebSecurity.IsAuthenticated && UserHelper.IsAdmin())
                    {
                        string count = UserHelper.CountRequests().ToString();
                        
                        <div style="float:right; background-color: #DDD">
                        <ul id="menu">
                            <li>Admin&nbsp;&nbsp;</li>
                            <li><a href="~/Admin/Loans">Loans (@count)</a></li>
                            <li><a href="~/Admin/Members">Members</a></li>
                            <li><a href="~/Admin/Library">Library</a></li>
                            <li><a href="~/Admin/Suggestions">Suggestions</a></li>
                        </ul>
                        </div>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            @RenderSection("infobanner", required: false)
            <section class="content-wrapper main-content clear-fix" style="background-image: none !important">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - James S Renwick</p>
                    <p><a></a></p>
                </div>
                <div class="float-right">
                    <p><a href="~/Library/Legal">The Legal Bit</a></p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>