@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@{
    Layout     = "~/Library/_SiteLayout.cshtml";
    Page.Title = "Manage Library";

    if (!UserHelper.IsAdmin()) {
        Response.RedirectPermanent("~/Library/");
    }

    Validation.RequireField("title", "You must specify the piece title.");
    Validation.RequireField("author", "You must give an author.");
    Validation.RequireField("library", "You must give the library to which the piece belongs.");
    Validation.RequireField("isowned", "You must specify whether the piece is owned by EUMM.");
 
    bool errTitle  = !ModelState.IsValidField("title");
    bool errAuthor = !ModelState.IsValidField("author");
    bool errLibrar = !ModelState.IsValidField("library");
    bool errOwned  = !ModelState.IsValidField("isowned");
    
    if (IsPost)
    {
        AntiForgery.Validate();

        if (Validation.IsValid())
        {
            string arrange = "'" + Request.Form["arrange"] + "'";
            string opus    = "'" + Request.Form["opus"] + "'";
            string edition = "'" + Request.Form["edition"] + "'";
            string loanend = "'" + Request.Form["loanend"].AsDateTime() + "'";
            string perform = "'" + Request.Form["nextperform"].AsDateTime() + "'";
            string notes   = "'" + Request.Form["loannotes"] + "'";
        }
    }
    
}

<div>
    <hgroup class="title">
        <h1>Administration.</h1>
        <h2>View and manage the online library.</h2>
    </hgroup>
    <section>
        <h2>Add New Piece</h2>
        <p>Entries in bold are required. The rest are optional and can be left blank.</p>
        <p>Hover over an input to see a further description.</p>
        <form method="post">
            @AntiForgery.GetHtml()
            <table>
                <tr title="The title of the piece (e.g. Symphony No. 3 &quot;Eroica&quot;)">
                    <td><b @if (errTitle){ <text> class="error-label" </text> }>Title</b></td>
                    <td><input type="text" name="title" @Validation.For("title")></td>
                </tr>
                <tr title="The author or composer of the piece (e.g. Ludwig van Beethoven)">
                    <td><b @if (errAuthor){ <text> class="error-label" </text> }>Author</b></td>
                    <td><input type="text" name="author" @Validation.For("author") /></td>
                </tr>
                <tr title="The library to which the music belongs. This will limit who can loan the music.">
                    <td><b @if (errLibrar){ <text> class="error-label" </text> }>Library</b></td>
                    <td>
                        <select name="library" @Validation.For("library")>
                            <option value="0">Orchestra</option>
                            <option value="1">Choir</option>
                        </select>
                    </td>
                </tr>
                <tr title="When checked, indicates that we own the piece. Otherwise, the piece is on loan from another library or source.">
                    <td><b @if (errOwned){ <text> class="error-label" </text> }>Is Owned by EUMM</b></td>
                    <td><input type="checkbox" name="isowned" checked="checked" @Validation.For("isowned") /> </td>
                </tr>
                <tr title="The person who arranged the piece. This should be marked on the music if applicable.">
                    <td>Arranged By</td>
                    <td><input type="text" name="arrange" /></td>
                </tr>
                <tr title="The opus number of the piece, where applicable. Enter BWV and K/KV numbers here with prefixes.">
                    <td>Opus</td>
                    <td><input type="text" name="opus" /></td>
                </tr>
                <tr title="The print edition of the piece. This should be marked on the music if applicable.">
                    <td>Edition</td>
                    <td><input type="text" name="edition" /></td>
                </tr>
                <tr title="If we do not own the piece, and are borrowing it, enter here the date by which it must be returned.">
                    <td>On Loan Until</td>
                    <td><input type="date" name="loanend"/></td>
                </tr>
                <tr title="The date, where known, of the piece's next performance. Can also be used to mark the previous performance.">
                    <td>Next Performed</td>
                    <td><input type="date" name="nextperform" /></td>
                </tr>
                <tr title="Text to be displayed to the user before accepting the loan of a part for this piece.">
                    <td>Notes Upon Loan</td>
                    <td><input type="text" name="loannotes" /></td>
                </tr>
            </table>
            <br/>
            @Html.ValidationSummary("Please re-enter any incorrect inputs before continuing.", excludeFieldErrors: false, htmlAttributes: null)
            <!--input type="submit" value="Add to Database"/-->
        </form>
    </section>
</div>