@using WebMatrix.WebData;
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@{
    Layout     = "~/Library/_SiteLayout.cshtml";
    Page.Title = "Manage Library";

    string limitTitle = "If checked, indicates that there are a limited number of copies available. " +
        "This is often the case with purchased or rented parts.";

    if (!UserHelper.IsAdmin()) {
        Response.RedirectPermanent("~/Library/");
    }

    Validation.RequireField("designation", "You must specify the part designation.");
    bool errDesig = !ModelState.IsValidField("designation");

    // Gets the piece ID
    int pieceID = 1;
    int.TryParse(Request.QueryString["pieceID"], out pieceID);

    if (pieceID < 0) {
        Response.RedirectPermanent("~/Library/ThankYou?err=InvalidPieceID");
    }

    string pieceTitle = Request.QueryString["pieceTitle"] ?? "#Error: Unable to get title";

    if (IsPost)
    {
        AntiForgery.Validate();
        if (Request.Form["function"] == "add-part" && Validation.IsValid())
        {
            string filename = null;
            if (Request.Files.Count != 0)
            {
                // Sanitise filename
                var file = Request.Files.Get(0);
                filename = Website.SanitiseFilename(file.FileName);

                // Upload file
                if (file.ContentLength != 0) {
                    Website.UploadHiddenFile(filename, pieceID.ToString(), file.InputStream);
                }
                if (filename != null) {
                    filename = System.IO.Path.Combine(pieceID.ToString(), filename);
                }
            }

            LibraryHelper.AddPart(pieceID,
                Request.Form["instrument"],
                Request.Form["designation"],
                Request.Form["limited"] == "on" ? (int?)int.Parse(Request.Form["count"]) : null,
                Request.Form["original"] == "on", Request.Form["paper"] == "on", Request.Form["digital"] == "on",
                filename,
                float.Parse(Request.Form["deposit"])
            );
        }
        else if (Request.Form["function"] == "set-parts")
        {
            var partFlags = Request.Form.Cast<string>().Where(k => k.Length > 0 && char.IsNumber(k[0]))
                .ToLookup(k => k.Split('-')[0], k => k.Split('-')[1]);

            foreach (string id in partFlags.Select(g => g.Key))
            {
                LibraryHelper.EditPart(id,
                    partFlags[id].Contains("loanorig"),
                    partFlags[id].Contains("loancopy"),
                    partFlags[id].Contains("loanpdf"),
                    Request.Form[id.ToString()+"-deposit"].AsFloat()
                );
            }
        }
    }

    var parts = LibraryHelper.GetParts(pieceID.ToString());
}

<div>
    <hgroup class="title">
        <h1>Administration.</h1>
        <h2>Parts for '@pieceTitle'</h2>
    </hgroup>
    
    <br />

    <section>
        <h2>Add New Part</h2>
        <p>All fields but 'Digital Copy File' are required.</p>
        <p>Hover over an input to see a further description.</p>
        <form method="post" enctype="multipart/form-data">
            @AntiForgery.GetHtml()
            <input type="hidden" name="function" value="add-part" />

            <h3>Parts</h3>
            <table style="white-space: nowrap">
                <thead style="font-weight: bold"><tr>
                    <td>Instrument</td>
                    <td>Designation</td>
                </tr></thead>
                <tr>
                    <td title="The type of instrument for which the part was written.">
                        <select name="instrument" >
                            <optgroup label="Choir">
                                <option>SATB</option>
                            </optgroup>
                            <optgroup label="Strings">
                                <option>Violin</option>
                                <option>Viola</option>
                                <option>Cello</option>
                                <option>Double Bass</option>
                            </optgroup>
                            <optgroup label="Woodwind">
                                <option>Piccolo</option>
                                <option>Flute</option>
                                <option>Oboe</option>
                                <option>Clarinet</option>
                                <option>Bass Clarinet</option>
                                <option>Bassoon</option>
                                <option>Cor Anglais</option>
                            </optgroup>
                            <optgroup label="Brass">
                                <option>Trumpet</option>
                                <option>French Horn</option>
                                <option>Trombone</option>
                                <option>Bass Trombone</option>
                                <option>Tuba</option>
                            </optgroup>
                            <optgroup label="Other">
                                <option>Piano</option>
                                <option>Percussion</option>
                                <option>Full Score</option>
                            </optgroup>
                        </select>
                    <td title="The exact instrument name (including number) as written on the part."><input type="text" name="designation" placeholder="E.g. Violin 1" 
                            @Validation.For("designation")/></td>
                </tr>
            </table>
            <br />
            <style>
                .small-number {
                    display: inline;
                    width: 35px;
                }
                tbody {
                    vertical-align: top
                }
            </style>
            <table style="white-space: nowrap; vertical-align: top">
                <thead style="font-weight: bold"><tr>
                    <td>Availability</td>
                    <td>Deposit</td>
                    <td>Digital Copy File</td>
                </tr></thead>
                <tr>
                    <td>
                        <text title="@limitTitle">Limited Copies &nbsp;</text><input title="@limitTitle" type="checkbox" name="limited" />&nbsp;

                        <text>No. &nbsp;</text><input title="The number of available parts, where limited." 
                                                      type="number" value="1" class="small-number" name="count" /><br />
                        <table>
                            <tr>
                                <td title="If checked, allows loaning original copies of parts.">Original</td>
                                <td title="If checked, allows requesting photocopies of parts.">Paper</td>
                                <td title="If checked, allows loaning digital copies of parts.">Digital</td>
                            </tr>
                            <tr>
                                <td title="If checked, allows loaning original copies of parts."><input type="checkbox" name="original" /></td>
                                <td title="If checked, allows requesting photocopies of parts."><input type="checkbox" name="paper" /></td>
                                <td title="If checked, allows loaning digital copies of parts."><input type="checkbox" name="digital" /></td>
                            </tr>
                        </table>
                    </td>
                    <td title="Amount, in pounds, of deposit required for borrowing an original copy.">
                        £&nbsp;<input type="number" class="small-number" name="deposit" value="0"/>
                    </td>
                    <td title="File to download when borrowing a digital copy.">
                        <input type="file" name="file" />
                    </td>
                </tr>
            </table>
            @Html.ValidationSummary("Please re-enter any incorrect inputs before continuing.", excludeFieldErrors: false, htmlAttributes: null)
            <br/>
            <button type="submit">Add Part</button>
        </form>
    </section>

    <br />
    <br />

    <section>
        <h2>Existing Parts</h2>
        <br />
        <form method="post" id="form">
            @AntiForgery.GetHtml()

            <input type="hidden" name="function" value="set-parts" />
            <style>
                .table-band {
                    background-color: #DDD;
                }
            </style>
            <table>
                <tr>
                    <td><b>Instrument</b></td>
                    <td><b>Designation</b></td>
                    <td><b>Number Available</b></td>
                    <td><b>Deposit</b></td>
                    <td><b>Can Lend Original</b></td>
                    <td><b>Can Lend Photocopy</b></td>
                    <td><b>Can Lend Digital</b></td>
                    <td><b>Digital Copy File</b></td>
                    <td></td>
                </tr>

                @{ bool color = true; }
                @foreach (var row in parts)
                {
                    color = !color;
                    <tr class="@(color?"table-band":"")">
                        <td>@row.Instrument</td>
                        <td>@row.Designation</td>
                        <td>@(row.Count == null ? "-" : row.Count.ToString())</td>
                        <td><input type="number" name="@row.ID-deposit" value="@row.Deposit" style="width:60px" /></td>
                        <td><input type="checkbox" name="@row.ID-loanorig" @(row.CanLendOriginal ? "checked" : "") /></td>
                        <td><input type="checkbox" name="@row.ID-loancopy" @(row.CanLendCopy ? "checked" : "") /></td>
                        <td><input type="checkbox" name="@row.ID-loanpdf" @(row.CanLendDigital ? "checked" : "") /></td>
                        <td><a href="~/Admin/PartFile?pieceID=@pieceID&pieceName=@pieceTitle&partID=@row.ID&partName=@row.Designation">Manage</a></td>
                        <td>
                            <a href="~/Admin/do?redir=parts&action=disablepart&id=@row.ID&piece=@pieceID&"
                               onclick="return confirm('Are you sure you wish to remove this part?')">Remove</a>
                            <input type="hidden" name="@row.ID-id" />
                        </td>
                    </tr>
                }
            </table>
            <br />
            <input type="submit" value="Update Parts" />
        </form>
    </section>

</div>